
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #191970;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: powderblue;    
}
main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: powderblue;
    gap: 2rem;
    font-size: large;
    margin-bottom: 22px;
}

.jp{
    border-radius: 100%;
    width: 680px;
    margin-top: 15px;
}

.linha1{
    background-color: powderblue;
    height: 1px;
}

.galery{
    display:flex ;
    flex-direction: row;
    justify-content: space-around;
}

.galery img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px powderblue;
    margin-top: 15px;
    
}
.titulobotton{
    text-align: center;
    color: powderblue;
}
.init{
    text-align: center;
}
.txt{ 
    text-align: center;
    
}
footer{
    gap: 10px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: powderblue;
    text-align: center;
    text-decoration: none;
    margin-top: 12px;
}
.p{
    text-decoration: none;
    color: powderblue;
}
@media screen and (max-width: 1024px){
    hr{
        width: 100%;
    }
    .jp{
        height: 75%;
        width: 75%;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    .galery{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    hr{
        width: 100%;
    }
    .jp{
        height: 75%;
        width: 75%;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    .galery{
        display: flex;
        flex-direction: column;
        text-align: center;
    }


}
@media screen and (max-width: 576px){
    .jp{
        height: 75%;
        width: 75%;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    .galery{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}


